.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

canvas {
  border: 25px solid;
  border-color: gray;
  width: 450px; /* Display width */
  height: auto; /* Maintain aspect ratio */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
